* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    font: 16px Arial;
}

button {
    text-transform: uppercase;
}

header {
    position: relative;
}

header h1 {
    margin: 0.5em;
    font-size: 2em;
    line-height: 1em;
}

header i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#wrapper {
    padding: 5%;
    max-width: 1140px;
    margin: 0 auto;
    
}

#wrapper > * {
    margin: 20px auto;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
}

#form {
    padding: 10px;
    position: relative;
}

.form__search-bar {
    display: flex;
    flex-direction: row;
}

.form__search-bar div {
    flex-grow: 9;
    margin-bottom: 0;
}

.form__search-bar button {
    /* flex-grow: 1; */
    width: 100px;;
    align-self: flex-start;
}

.form-check {
    margin: 10px;
}

.form__ingredients {
    margin: 10px 0;
}

.ingredient {
    position: relative;
    display: inline-block;
    background:DodgerBlue;
    padding: 5px 10px;
    color: white;
    border-radius: 25px;
    margin: 5px;
    padding-right: 30px;
}

.ingredient--delete {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 15px;
    height: 15px;
    background:white;
    border-radius: 50%;
    cursor: pointer;
}

.ingredient--delete:before {
    content: 'x';
    color: dodgerblue;
    font-weight: 300;
    position: absolute;
    left: 4px;
    top: -2px;
}

#form__button {
    position: relative;
    height: 38px;
}

#search {
    position: absolute;
    right: 0;
    width: 100px;
}

#recipe-template {
    display: none;
}

.recipe {
    padding: 10px;
}

.recipe-content {
    width: inherit;
    height: inherit;
    max-width: 380px;
    margin: auto;
}

.aspect-ratio-container {
    position: relative;
    width: 100%;
}

.recipe-thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:url() 50% 50% no-repeat;
    background-size:cover;
    background-clip:content-box;
    border-radius: 10px 10px 0px 0px;
}

.ratio-65:before{
    content: "";
    display: block;
    padding-top: 65%;
}

.recipe-body {
    border-bottom: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-radius: 0px 0px 10px 10px;
    height: 250px;
    position: relative;
}

.recipe-name {
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    padding-top: 30px;
}

.recipe-url {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.recipe-ingredients {
    padding: 0px 15px 15px 20px;
    font-size: 16px;
    color: #404040;
    overflow: hidden;
    line-height: 25px;
    max-height: 100px;
}

#form__validation {
    display: block;
    visibility: hidden;
    margin: 10px 0;
}

#form__validation {
    margin: 10px 0;
}

.empty {
    display: none;
}

.present {
    display: block;
}

#results {
    border: 0;
}

#history {
    border: 0;
}

#cookie-consent {
    max-width: 1140px;
    position: fixed;
    bottom: 0;
    padding: 10px;
    flex-direction: row;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
}

#cookie-consent.accepted {
    display: none;
}

#cookie-consent.not-accepted {
    display: flex;
}

#cookie-consent p {
    flex-grow: 9;
    margin: 0;
    align-self: center;
}

#cookie-consent #cookie-approval {
    height: 38px;;
    flex-grow: 1;
    align-self: center;
}

@media only screen and (max-width: 600px) {

    #cookie-consent {
        flex-wrap: wrap;
        justify-content: center;
    }

    #cookie-consent p {
        margin: 10px 0;
        text-align: center;
    }

    #cookie-consent #cookie-approval {
        width: 150px;
        flex-grow: unset;
    }
}

#history .container-fluid {
    padding: 10px;
}

ul.dashed {
    list-style-type: none;
}

ul.dashed > li {
    text-indent: -5px;
}

ul.dashed > li:before {
    content: "- ";
}

.advanced-row {
    padding: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form__button {
    margin: 20px 0;
}
/*.form-group {*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/


/*!*#form__search-bar {*!*/
    /*!*display: flex;*!*/
    /*!*flex-direction: row;*!*/
/*!*}*!*/

/*.form-group div {*/
    /*flex-grow: 9;*/
    /*margin-bottom: 0;*/
/*}*/

/*.form-group button {*/
    /*!* flex-grow: 1; *!*/
    /*width: 100px;;*/
    /*align-self: flex-start;*/
/*}*/